@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600&display=swap');

@font-face {
  font-family: Museo;
  src: url(../fonts/Museo500-Regular.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 768px;
  min-width: 280px;
  max-width: 1440px;
  margin: 0 auto;
  background: rgb(236, 236, 236);
  background-image: url(../img/repeat-white-background-waves.jpg);
  color: #222;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

.header {
  position: relative;
  z-index: 1;
  height: 900px;
  margin-left: 40px;
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #222;
  padding: 0 15px;
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgb(236, 236, 236));
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  max-width: 1440px;
  width: 100%;
  height: 900px;
  background-image: url(../img/start.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -200px;
}

a {
  text-decoration: none;
  color: #111;
}

ul {
  list-style: none;
}

.topnav div {
  width: 50%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 25px;
  font-size: 0.9em;
  font-weight: 500;
}

.topnav img {
  margin-left: 10px;
  width: 48px;
  display: none;
}

.topnav a {
  width: 100%;
  display: flex;
  justify-content: center;
}

.title {
  font-size: 5em;
  font-weight: 600;
  background: linear-gradient(to right, rgb(24, 82, 190), rgb(28, 200, 190));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  max-width: 1440px;
  width: 100%;
  height: 600px;
  z-index: -1;
  background: linear-gradient(rgba(250, 250, 250, 1), rgb(255, 255, 255, 0));
}

.subtitle {
  font-size: 2em;
  font-weight: 400;
  color: #444;
}

.link {
  font-family: 'Museo', serif;
  font-size: 2.8em;
  font-weight: bold;
}

.link:hover {
  background: linear-gradient(to right, rgb(24, 82, 190), rgb(28, 200, 190));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

hr {
  margin: 12px 0;
}

.start-screen img {
  width: 100%;
}

main section {
  padding: 4%;
}

main article {
  padding: 0 2%;
}

main h2 {
  font-size: 4em;
  text-align: center;
  color: rgb(28, 120, 190);
}

main p {
  font-size: 1em;
  color: #222;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.56px;
  margin: 20px 0;
}

article footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.photo {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background: #999;
  overflow: hidden;
}

.photo img {
  width: 100%;
}

.regards {
  font-size: 1.2em;
  color: rgb(28, 120, 190);
  font-weight: 400;
}

article footer {
  line-height: 40px;
}

article footer h3 {
  font-family: 'Museo', serif;
  font-size: 1.6em;
  font-weight: bold;
  color: #222;
}

article footer h3 sup {
  font-weight: lighter;
  text-decoration: underline;
  color: #444;
}

.credits,
.topnav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  padding: 10px 0;
}

.credits div:not(:last-child),
.topnav div:not(:last-child) {
  border-right: 2px solid gray;
}

.credits div {
  width: 25%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 25px;
  font-size: 0.9em;
  font-weight: 500;
}

.credits h3, .topnav h3 {
  font-size: 2em;
  color: rgb(28, 120, 190);
  font-weight: 400;
}

footer p,
footer li,
footer a {
  padding: 8px 4px 0;
}

.footer {
  font-family: 'NunitoSans', sans-serif;
  font-weight: 400;
  color: #444;
  max-width: 1440px;
  margin: 20px auto 40px;
  display: flex;
  padding: 0 2%;
  justify-content: flex-start;
}

@media screen and (max-width: 1000px) {
  .title {
    font-size: 3em;
  }
  .credits {
    justify-content: center;
  }
  .credits h3 {
    margin-top: 10px;
    text-align: center;
  }
  .credits div {
    align-items: center;
    width: 33%;
  }
  .credits div:nth-child(3) {
    border-right: none;
  }
}

@media screen and (max-width: 700px) {
  .credits div {
    align-items: center;
    width: 50%;
  }
  .credits div:nth-child(2) {
    border-right: none;
  }
  .credits div:nth-child(3) {
    border-right: 2px solid gray;
  }
  .topnav h3 {
   font-size: 1.5em;
  }
  .topnav img {
    margin: 0 auto;
  }
}

@media screen and (max-width: 500px) {
  .header {
    font-size: 11px;
  }
  .topnav h3 {
    font-size: 1em;
   }
  .title {
    font-size: 4em;
  }
  article footer {
    justify-content: center;
  }
}
