@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600&display=swap');

body {
    font-family: 'NunitoSans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4;
    color: #222;
  }
