@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  background-image: url(../img/repeat-white-background-waves.jpg);
}

.table-contents {
  max-width: 1280px;
  min-height: 80vh;
  margin: 0 auto;
  font-family: 'NunitoSans', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.4;
  color: #222;
  border-right: 1px dashed #eee;
  background: #fff8;
}

.table-contents {
  position: relative;
  z-index: 1;
  background-size: contain;
}

.table-contents::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;  
  opacity: 0.05; 
  z-index: -1;
  background: url(images/absolvent.png);
  background-size: 50%;
  background-position: center center;
}

.table-contents li:hover {
  cursor: pointer;
  color:#0af;
}

.all {
  color: #0af;
  cursor: pointer;
}

h3 {
  color: #222;
}

a {
  text-decoration: none;
  color: #0af;
}

.header {
  font-family: 'NunitoSans', sans-serif;
  font-weight: 400;
  color: #444;
  width: 1280px;
  margin: 0 auto 20px;
  border: 2px solid #ddd;
  display: flex;
  justify-content: flex-start;
}

.header-icon {
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid #ddd;
}

.header-icon img {
  width: 28px;
  height: 28px;
}

.header-title {
  display: flex;
  justify-content: flex-start;
  width: 90%;
  margin: 0 20px;
  padding: 10px 0px 10px 0;
}

.header-title h3 {
  margin-right: 20px;
  font-size: 0.9rem
}

.homepage {
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 2px solid #ddd;
}

.homepage img {
  width: 28px;
  height: 28px;
}

.company-logo-container {
  width: 300px;
  height: 120px;
  margin: 5px auto 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.company-logo {
  max-height: 120px;
  max-width: 300px;
}

.article-container {
  margin: 10px 0 30px;
  padding: 0 20px 0 0;
}

.article-header {
  display: flex;
  justify-content: flex-start;
}

.article-icon {
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.article-icon img {
  width: 32px;
  height: 32px;
  bottom: 0;
}

.article-title {
  width: 90%;
  min-height: 32px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px dashed #bbb;
}

.article-content {
  margin-top: 20px;
}

.article-content p,
.article-content li {
  line-height: 25px;
}

.article-content ul {
  margin-left: 20px;
}

.article-footer {
  margin: 40px 0 20px 0;
}

.employees-count {
  font-weight: 100;
}

.flex-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-box .article-container {
  width: 48%;
}

.section-footer {
  margin-bottom: 20px;
}

.event-cities {
  margin-top: 10px;
}

.btns {
  width: 97%;
  display: flex;
  justify-content: space-between;
}

.btn {
  outline: none;
  border: none;
  background: transparent;
  color: #222;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  display: block;
  font-size: 56px;
  margin-top: -10px;
  color: #777;
}

.btn-text {
  padding: 0 20px
}

.btn:hover .btn-text {
  color: #0af;
}

.footer {
  font-family: 'NunitoSans', sans-serif;
  font-weight: 400;
  color: #444;
  width: 1280px;
  margin: 20px auto 40px;
  display: flex;
  justify-content: flex-start;
}

@media screen and (max-width: 1280px) {
  .section, .header, .footer, .table-contents{width: 95%}
}

@media screen and (max-width: 768px) {
  .flex-box .article-container, .table-contents{width: 100%}
}

@media screen and (max-width: 420px) {
  .header-title{font-size: 12px;}
}
